NEXT_PUBLIC_SUPABASE_URL=https://zetvfrvcphrogkuawlwf.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Ns_eaXip5XrHoikmXUxkbQ_PjuhKEZo
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpldHZmcnZjcGhyb2drdWF3bHdmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1MjI2MTcsImV4cCI6MjA5MjA5ODYxN30.5gpxjcRaGCNWBcYHiDfUZBMqb3bC5tSu0e90OXpR0wM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpldHZmcnZjcGhyb2drdWF3bHdmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjUyMjYxNywiZXhwIjoyMDkyMDk4NjE3fQ.onV4np4mZIjGAKP0v9v3ld-YqxZ2tycOAbX0IEZuCRg
SUPABASE_DB_URL=postgresql://postgres:09102904852!Rickyler@db.zetvfrvcphrogkuawlwf.supabase.co:5432/postgres
SUPABASE_PROJECT_REF=zetvfrvcphrogkuawlwf
BOOTSTRAP_ADMIN_EMAIL=xiancapstone@gmail.com
BOOTSTRAP_ADMIN_PASSWORD=xian123
